# Ignore configuration files that may contain sensitive information.
docroot/sites/*/*settings*.php

# Ignore paths that contain generated content.
docroot/cache/

# Ignore default text files
docroot/CHANGELOG.txt
docroot/COPYRIGHT.txt
docroot/INSTALL*.txt
docroot/LICENSE.txt
docroot/MAINTAINERS.txt
docroot/UPGRADE.txt
docroot/README.txt
docroot/sites/all/README.txt
docroot/sites/all/modules/README.txt
docroot/sites/all/themes/README.txt

# Ignore logs
logs/

# Ignore Filesystem BS
.DS_Store
